.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modalInput {
  display: none;
  position: fixed;
  height: fit-content;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  padding: 36px;
  border-radius: 7px;
  z-index: 1000;
  width: 500px;
}

.modalInput.show {
  display: block;
}

.modal-close {
  text-align: right;
  cursor: pointer;
}